<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article",  @article, method: :delete %>
</div>

<br/>
<h2>Comments</h2>
<p> made by: <%= link_to @article.user.name, @article.user%> </p>
<% @article.comment.each do |comment| %>
<%= comment.message %>
<table>
<th></th>

<tr>
<%= link_to "View", comment%>
</tr>

 </table>

<% end %>