<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "application" %>
<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<br/>
<h2>Articles</h2>
<% @user.article.each do |article| %>
<li>
<%= article.title %>
<%= link_to "View", article %>
</p>
</li>

<% end %>