<!DOCTYPE html>
<html>
  <head>
    <title>Lab5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="navbar.css">    
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="nav">
  <li> <a href='/articles/new'> New Article</a> </li>
  <li> <a href='/'> Home</a> </li>
  <li> <a href='/users/new'> SignUp!</a> </li>
  </div>
  <%= yield %>
  </body>
</html>
